.task {
  width: 100%;
  background: #668586;
  border: 1px solid #EF6F6C;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.task p {
  font-size: 14px;
  line-height: 19px;
  color: #F7F7F9;
  margin-right: auto;
}

p.textCompleted {
  color: #FEDC97;
  text-decoration: line-through;
}

.checkContainer {
  width: 18px;
  height: 18px;
  background: none;
  border: none;
}

.checkContainer div {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  border: 2px solid #FEDC97;
}

.checkContainer svg {
  width: 100%;
  height: 100%;
  color: #2B2D42;
}

.deleteButton {
  background: none;
  border: none;
  color: #FEDC97;
}